---
import { Mail01Icon, Github01Icon, InstagramIcon, Linkedin01Icon } from '@hugeicons/core-free-icons';
import { withBase } from '../lib/url';
import Icon from './Icon.astro';
---

<footer class="site-footer">
  <div class="container">
    <div>
      <div class="brand" style="margin-bottom: 0.6rem;">
        <span class="brand-mark">σ</span>
        <span class="brand-name">Sigma <b>Data&nbsp;Club</b></span>
      </div>
      <p class="muted" style="font-size: 0.85rem; max-width: 38ch;">
        Club de ciencia de datos e IA de Generación Espontánea.<br />
        Universidad Politécnica de Valencia.
      </p>
    </div>
    <div>
      <h4>Navegar</h4>
      <ul>
        <li><a href={withBase('/sobre')}>Sobre</a></li>
        <li><a href={withBase('/equipo')}>Equipo</a></li>
        <li><a href={withBase('/eventos')}>Eventos</a></li>
        <li><a href={withBase('/proyectos')}>Proyectos</a></li>
      </ul>
    </div>
    <div>
      <h4>Recursos</h4>
      <ul>
        <li><a href={withBase('/blog')}>Blog</a></li>
        <li><a href={withBase('/recursos')}>Material</a></li>
        <li><a href={withBase('/unete')}>Únete</a></li>
      </ul>
    </div>
    <div>
      <h4>Contacto</h4>
      <ul class="contact-list">
        <li>
          <a href="mailto:sigmaclub.upv@gmail.com">
            <Icon icon={Mail01Icon} /> sigmaclub.upv@gmail.com
          </a>
        </li>
        <li>
          <a href="https://github.com/sigma-data-club">
            <Icon icon={Github01Icon} /> github.com/sigma-data-club
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/sigma_dc_upv/">
            <Icon icon={InstagramIcon} /> @sigma_dc_upv
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/sigma-data-club-upv">
            <Icon icon={Linkedin01Icon} /> linkedin.com/company/sigma-data-club-upv
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
